.formButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between buttons as needed */
    justify-content: space-between;
  }
.left{
display: block;
flex-wrap: wrap;



}

.right{
display: block;
flex-wrap: wrap;

}

